* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Nunito sans';
}
header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    width: 100%;
    min-height: 625px;
    background-repeat: no-repeat;
}
.flexcontainer{
    display: flex;
    width: 1200px;
    height: 47px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}
.size {
    width: 240px;
}
.center {
    display: flex;
    justify-content: center;
    width: 720px;
}
.border {
    border: 3px;
    display: flex;
    align-items: center;   
}
a {
    justify-content: center;
    align-items: center;
    margin: 4%;
    color: whitesmoke;
    font-size: 1,5em;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.blue{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 535px;
}
.end{
    display: flex;
    justify-content: flex-end;
}
.btw {
    width: 27%;
    height: 29px;
    border-radius: 20px;
    border: none;
}
.pink {
    width: 50% ;
    height: 406px;
    align-self: center;
    justify-self: center;
}
.align{
    text-align: center;
}
.align h1{
    font-size: 4em ;
    color: whitesmoke;
}
.align h2 {
    font-size: 2em;
    color: whitesmoke;
}
.align button{
    margin: 3%;
}
#bb{
    background-color: #23272a;
    color: whitesmoke;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 605px;
    width: 100%;
}
.box1pink {
    height: 498px;
    width: 480px;
}
.box1blue {
    height: 498px;
    width: 721px;
}
.flex h1 {
    font-size: 2em;
    font-style: inherit;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30%;
    line-height: 182%;
}
.containergray {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 605px;
    width: 100%;
}
.box2pink {
    height: 498px;
    width: 721px;
    align-self: center;
    justify-self: flex-end;
}
.box2blue {
    height: 498px;
    width: 480px;
}
.boxgreen {
    width: 80%;
    margin: 0 auto;
}
.boxgreen div h1{
    font-size: 45px;
    font-style: inherit;
    text-align: center;
}
.boxgreen div h2{
    text-align: center;
    font-size: 2rem;
}
.imgsize{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.img {
    width: 80%;
    margin: 0 auto;
}
.onda {
    background-image: url(../img/wave.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.onda2{
    background-image: url(../img/wave.svg);
    transform:rotate(180deg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.flex2{
    display: flex;
    width: 100%;
    justify-content: center;
}
#margin {
    margin: 7%;
}
.containerblack {
    background-color: #23272a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 656px;
}
#ita{

}
.pinkfooter {
    width: 358px;
    height: 578px;
    border: 3px;
}
.bluefooter {
    height: 578px;
    width: 208px;
}
.borderleft {
    border: 3px;
}
.borderright {
    border-top: 3px;
    
}
.column {
    display: flex;
    flex-direction: column;
    padding: 4%;
}
.pinkfooter h1 {
    padding: 20%;
}
.color {
    color: #495680;
}
.containerblackend {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #23272a ;
}
.containerend {
    display: flex;
    height: 81px;
    width: 1205px;
    align-items: center;
    justify-content: space-between ;
}
.pinkbuttons {
    width: 91px;
    height: 36px;
    justify-content: center;
}
.flex2 button{
    border-radius: 20px ;
    border: none;
    height: 50px;
    font-size: 1em;
    color: whitesmoke;
    background-color: #8ea1e1;
    width: 13%;
}
#btl {
    width: 110%;
    height: 32px;
    border-radius: 20px;
    background-color: #8ea1e1;;
}